/*body{
  background-color: rgb(67, 70, 67);
}*/


.container{
  /*give the initial values for container*/
  width: 810px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  font-family:"Lucida Grande", sans-serif;
}

/*styling the header pice */
.headerDiv{
}
.headerDiv h1{
  display: inline;
}
.headerDiv p{
  display: inline;
  padding-left: 20px;
  color: rgb(107, 107, 107);
  font-weight: bold;
  font-family:Arial;
}

/*start to sytling the form section */
.formDiv{
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 1px 35px 10px 35px;
  margin-top: 5px;
}
.formDiv h2{
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.inputLabel{
  display: block;
  font-weight: 800;
  font-size: 0.8rem;
  padding-bottom: 1px;
}

.formInput{
  background-color: white;
  width: 90%;
  height: 20px;
  display: block;
  margin-bottom: 8px;
  padding-left: 5px;
}
select.formInput{
  width: 91%;
}
.addButton{
  background-color: rgb(17, 62, 140);
  color: white;
  text-align: center;
  font-weight: 600;
  padding: 10px 15px;
  border: 0;
  border-radius: 4px;
}
.addButton:hover{
  background-color: rgb(35, 112, 184);
}



/*styling the issue content*/
#addContent{
  background-color: rgb(231, 231, 231);
  border: 2px soild rgb(223, 223, 223);
  border-radius: 8px;
  padding: 3px 15px;
  margin-top: 10px;
}
#idDemo{
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}
.statusDemo{
  background-color: rgb(46, 185, 230);
  border: 0;
  display: inline-block;
  color:white;
  padding: 3px;
  border-radius: 2px;
  margin-top: 6px;
  margin-bottom: 0;
}
#discriptionDemo{
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 4px;
}
#severityDemo,#assignedTODemo
{
  font-size: 0.9rem;
  font-weight: bold;
  display: inline;
  vertical-align: middle;
  margin-right: 18px;

}
.material-icons{
  color:  rgb(17, 62, 140);
  vertical-align: middle;
  padding-bottom: 10px;
}
.yButton {
    background-color: rgb(240, 155, 43);
    margin-right: 5px;
  }
.rButton {
  background-color: rgb(205, 55, 29);
  margin-bottom: 6px;
}

.yButton:hover{
    background-color: rgb(191, 117, 30);
  }
  .rButton:hover {
    background-color: rgb(186, 36, 10);
  }





/*syling the foorter */
.footerDiv{
color:rgb(107, 107, 107);}
